.Home-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-Container .Start {
    color: black;
    border: 5px solid;
    padding: 3em 8em;
    font-size: 2em;
    letter-spacing: 0.2em;
    border-radius: 10px;
    transition: all 0.2s;
}

.Home-Container .Start:hover {
    color: white;
    background: black;
}